$main-font-color: #54544f;
$light-font-color: #f7fbf9;
$red: #be1b22;
$red08: rgba(190, 27, 34, 0.8);
$red06: rgba(190, 27, 34, 0.6);
// $main-basic: #79629d;
// $main-basic-light: #D0CEDC;
// $main-basic-dark: #533682;
// $main-basic-mat: #8e8aa7;
// $blue: #00A0E3;
// $grey: #656565;
// $white: #ffffff;
// $black: #000000;
